{extend name="layout/base" /} {block name="main"}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">添加/编辑</div>
                    <div class="widget-function am-fr">
                        <a href="{:url('tadmin.job')}" class="am-icon-list" title="列表"></a>
                    </div>
                </div>
                <div class="widget-body am-fr">
                    <form class="am-form tpl-form-border-form" method="post" enctype="multipart/form-data" data-am-validator>
                        <div class="row">
                        <div class="am-u-md-12 am-u-lg-9">
                            <div class="am-panel am-panel-default">
                                <div class="am-panel-hd">基础信息</div>
                                <div class="am-panel-bd">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-12 am-form-label am-text-left">职位名称 <span class="tpl-form-line-small-title">（必填）</span></label>
                                        <div class="am-u-sm-12">
                                            <input name="position_name" value="{$job.position_name ?? ''}" type="text" class="tpl-form-input am-margin-top-xs" placeholder="请输入职位名称" required>
                                            <small>建议10-20字左右，最长不超过100个字。</small>
                                        </div>
                                    </div>    
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-12 am-form-label am-text-left">招聘人数 <span class="tpl-form-line-small-title">（必填）</span></label>
                                        <div class="am-u-sm-12">
                                            <input name="position_number" value="{$job.position_number ?? 1}" type="text" class="tpl-form-input am-margin-top-xs" placeholder="请输入职位名称" required>
                                            <small>建议10-20字左右，最长不超过100个字。</small>
                                        </div>
                                    </div>                                
                                    
                                    <div class="am-form-group">
                                        <label for="user-intro" class="am-u-sm-12 am-form-label  am-text-left">职位描述</label>
                                        <div class="am-u-sm-12 am-margin-top-xs">
                                            <textarea class="form-editor" data-name="content" id="content" name="content">
                                                {$job.content|raw}
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-md-12 am-u-lg-3">
                            <div class="am-panel am-panel-default">
                                <div class="am-panel-hd">状态</div>
                                <div class="am-panel-bd">
                                    <div class="am-form-group">
                                        <label for="user-email" class="am-u-sm-12 am-form-label am-text-left">发布时间 <span class="tpl-form-line-small-title">Time</span></label>
                                        <div class="am-u-sm-12">
                                            <div class="am-input-group date datetimepicker-btn" data-date="{$job.created_at ?? date('Y-m-d H:i:s')}" data-date-format="yyyy-mm-dd hh:ii:ss">
                                                <input name="created_at" type="text" value="{$job.created_at ?? date('Y-m-d H:i:s')}" class="am-form-field ">
                                                <span class="am-input-group-label add-on"><i class="icon-th am-icon-calendar"></i></span>
                                            </div>
                                            <small>发布时间为必填</small>
                                        </div>
                                    </div>
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-12 am-form-label am-text-left">状态 </label>
                                        <div class="am-u-sm-12">
                                            <label class="am-radio-inline">
                                                <input type="radio" name="status" value="1" data-am-ucheck {if $job.status=='1' }checked{/if}> 正常
                                            </label>
                                            <label class="am-radio-inline">
                                                <input type="radio" name="status" value="0" data-am-ucheck {if $job.status=='0' }checked{/if}> 隐藏
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-12 am-u-sm-push-12">
                                <input name="id" value="{$job.id ?? 0}" type="hidden">
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交</button>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block} {block name="footer"} {/block}