{extend name="layout/base" /} {block name="main"}
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">职位列表</div>
                    <div class="widget-function am-fr">
                        <a href="javascript:location.reload();" class="am-icon-refresh" title="刷新"></a>
                    </div>
                </div>
                <div class="widget-body  widget-body-lg am-fr">
                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a href="{:url('tadmin.job.edit')}" class="am-btn am-btn-default am-btn-success"><span class="am-icon-plus"></span> 新增</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-6">
                        <form class="am-form-inline tpl-form-border-form cl-p am-fr" role="form">
                            <div class="am-form-group">
                                <input name="keywords" type="text" class="am-form-field " placeholder="关键词" value="{$Request.get ? $Request.get.keywords : ''}">
                            </div>
                            <button type="submit" class="am-btn am-btn-primary am-btn-sm">搜索</button>
                        </form>
                    </div>
                    <div class="am-u-sm-12 am-scrollable-horizontal ">
                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black am-text-middle" id="example-r">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>职位名称</th>
                                    <th>招聘人数</th>
                                    <th>创建时间</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach $jobs as $job}
                                <tr class="gradeX">
                                    <td>{$job.id}</td>                                    
                                    <td>
                                        <div class="image-title-group">                                            
                                            <p><strong>{$job.position_name ?? ''}</strong>
                                        </div>
                                    </td>
                                    <td>{$job.position_number ?? 0}</td>
                                    <td>{$job.created_at ?? ''}</td>
                                    <td><span class="show-status" data-status="{$job.status}"><i class="am-icon-circle"></i></span></td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href="{:url('tadmin.job.resume')}?id={$job.id}">
                                                <i class="am-icon-pencil"></i> 查看简历
                                            </a>
                                            <a href="{:url('tadmin.job.edit')}?id={$job.id}">
                                                <i class="am-icon-pencil"></i> 编辑
                                            </a>
                                            <a href="{:url('tadmin.job.delete')}?id={$job.id}" class="tpl-table-black-operation-del">
                                                <i class="am-icon-trash"></i> 删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                <!-- more data -->
                            </tbody>
                        </table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            {$jobs|raw}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
