<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Tadmin - 基于ThinkPHP5.1+和AmazeUI的快速后台开发框架</title>
<meta name="keywords" content="Tadmin">
<meta name="description" content="基于ThinkPHP5.1+和AmazeUI的光速后台开发框架">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="__TADMIN_ASSETS__/i/favicon.png">
<link rel="stylesheet" href="__TADMIN_ASSETS__/css/amazeui.min.css" />
<link rel="stylesheet" href="__TADMIN_ASSETS__/css/amazeui.datetimepicker.css" />
<link rel="stylesheet" href="__TADMIN_ASSETS__/css/app.css">
<link rel="stylesheet" href="__TADMIN_ASSETS__/css/admin.css">
<script src="__TADMIN_ASSETS__/js/jquery.min.js"></script>
<script type="text/javascript">
var adminApp = {
    path: {
        assets: "__TADMIN_ASSETS__",
    },
};
</script>